*{margin:0;padding:0;}

body
{
	font-family:'Poppins', sans-serif;
	
}
img
{
	max-width: 100%;
}
section
{
    height: 500px;
}
.topSection
{
	background-image:url(image/top-banner.png);
    background-repeat: no-repeat;
    position: relative;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

h1 {
    font-size: 50px;
}

.highligted {
    color: orange;
}
.half-width img
{
    /* width: 390px; */
}
.button
{
    text-decoration: none;
    color: #fff;
    padding: 6px 24px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border-radius: 5px;
    font-weight: 400;
    position: absolute;
    left: 91px;
    bottom: 155px;
}