*{margin:0;padding:0;}

body
{
	font-family:'Poppins', sans-serif;
	
}
img
{
	max-width: 100%;
}
section
{
    height: 500px;
    margin-bottom: 30px;
}
.topSection
{
	background-image:url(image/top-banner.png);
    background-repeat: no-repeat;
    position: relative;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

h1 {
    font-size: 50px;
}
h2
{
    font-size: 40px;
}
p{
    color: dimgrey;
}

.highligted {
    color: orange;
}
.half-width img {
    width: 390px;
}
 
.button
{
    text-decoration: none;
    color: #fff;
    padding: 6px 24px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border-radius: 5px;
    font-weight: 400;
    position: absolute;
    left: 91px;
    bottom: 155px;
    transition: 1.5s;
}
.button:hover
{
    background-image: linear-gradient(45deg,lightblue,blue);
   
}

.downloadButton
{
    text-decoration: none;
    color: #fff;
    padding: 6px 24px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border-radius: 5px;
    font-weight: 400;
    margin-left: 92px;
    transition: 1.5s;
}
.downloadButton:hover
{
    background-image: linear-gradient(45deg,lightblue,blue);
}
.dream-area
{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}